<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
<h1>Добавление пользователя</h1>
<form method="POST">
    <label>Number</label><br>
    <input name="number" class="field"/><br><br>
    <label>Make</label><br>
    <input name="make"  class="field"  /><br><br>
    <label>Color</label><br>
    <input name="color" class="field"/><br><br>
    <label>Owner</label><br>
    <input name="owner"  class="field"/><br><br>
    <label>Exit</label><br>
    <input name="exit_time" type="datetime-local" class="field"/><br><br>
   <!-- <label>Exit</label><br>
    <input name="exit_time" type="datetime-local" class="field"  /><br><br>-->
    <input type="submit" value="Отправить" />
</form>
<a href="/">К списку пользователей</a>
</body>
<html>